<!DOCTYPE html>
<html>
<head>
     <title>CHAT - VUE - NODE JS</title>

</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="public/chat.css">

<style type="text/css">
     
     *
     {
          list-style: none;
     }

</style>

<body>
<br><br>
<div class="container" id="chat">
     <div class="panel panel-default">
       <div class="panel-heading">SOHBET TEST</div>
       <div class="panel-body">
        Kullanıcı adınız : 

         <input v-model="user_name" placeholder="Kullanıcı adınızı giriniz">
       </div>
     </div>

<hr>

     <div class="panel panel-default">
       <div class="panel-body">
        
    <ul id="messages">
         <li v-repeat="m in messages">kullanıcı adı : {{ m.name }} <br> mesaj : {{ m.msg }}</li>
    </ul> 


<hr>
     <form v-on="submit: send">
     <div class="form-group col-lg-5">
          <input v-model="message" class="form-control">
          <button>Send</button>
     </div>
     </form>
     <!--<div class="btn btn-primary" v-on="click: notification">bildirim gönder</div>-->
          </div>
     </div>


</div><!-- Container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.15/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

     var socket=io();

     new Vue({
          el: '#chat',

          data: {

               messages:[],
               message: '',
               user_name:''
          },

          ready:function()
          {
               socket.on('chat.message',function(data)
               {    
                    this.messages.push({name:data.name,msg:data.msg});
                    this.notification(data.msg,data.name);

               }.bind(this));

               this.fetchData();
          },

          methods: {

               send: function(e) {

                    socket.emit('chat.message',{msg:this.message,name:this.user_name});
                    this.message='';
                    e.preventDefault();
               },
               setName:function()
               {
                    alert();
               },
               notification:function(msg,title)
               {
                    setNotification(msg,title);
               },
               fetchData:function()
               {    
                    var m=this.messages;
                    $.ajax({
                         type:"GET",
                         url:"http://192.168.1.152:3000/chat",
                         dataType:"json",
                         success:function(data)
                         {
                              $.each(data,function(x,i)
                              {    
                                   m.push({name:i.name,msg:i.msg});
                              });
                         }
                    });
               }
          }
     })

var uu="http://localhost:3000";
function setNotification (msg,title) {
  if (!("Notification" in window)) {
    alert("Bu tarayıcı web bilgilendirme özelliğini desteklemiyor.");
  } 

  else if (Notification.permission === "granted") {
    var notification = new Notification(title, {
      body: msg, 
      icon: 'http://fatihhayrioglu.com/favicon.png',
      tag: 'demo',
      dir: 'auto',
      lang: ''
    });
  }
  
  else if (Notification.permission !== 'denied') {
    Notification.requestPermission(function (permission) {
      if (permission === "granted") {
        var notification = new Notification(title, {
          body: msg, 
          icon: 'http://fatihhayrioglu.com/favicon.png',
          tag: 'demo',
          dir: 'auto',
          lang: ''
        });
       }
    });
  }

     notification.onclick = function () {

          window.open(uu);

     }
}

</script>

</body>
</html>
